


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h1>Busca Endereço</h1>
<p>Para buscar um endereço, digite o CEP correspondente (apenas números) no campo abaixo:</p>
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <label for="cep">CEP</label>
        <input
          type="text"
          id="cep"
          class="form-control"
          ngModel
          name="cep"
          pattern="^\d{8}$"
          required>
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!f.valid">
          Enviar
        </button>
      </form>
      <hr>
      <app-address [address]="address"></app-address>
    </div>
  </div>
</div>
